
.header{
    background-color: white;
    display: flex;
    justify-content: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
   
  }
  .headerContent{
    width:75%;
    display: flex;
    justify-content: space-between;
  }
  .links{
    display: flex;
    width: 400px;
    justify-content: space-between;
  }
  
  .links a{
    color: darkgray;
    font-weight: bold;
  }
  
  .links a:active{
    color: blue;
  }