

.rowWrapper{
  margin-bottom: 20px;  
}



.infoWrapper{
  display: flex;
  flex-direction: row;
  background-color: white;
  /* margin-right: 20px; */
  padding: 15px;
  justify-content: space-between;

}

.content{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.logoIcon{
  /* color: blue;
  font-size: 25px;
  margin-top: 5px; */
}

.user{
  padding: 5px;
}

.notifIcon{
  position: relative;
  top: 2px;
  font-size: 16px;
  margin-right: 12px;
}

.contentWrapper{
  display: flex;
  flex-direction: row;
}
.cardInfo{
  display: flex;
  flex-direction: column;
}